<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css"
    />
  </head>

  <body>
    

    <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        COL   -->


    <div class="container-fluid bg-primary pi-draggable">
        <div class="row">
            <div class="col">
                <p>Sezione 1</p>
            </div>    
        </div>
    </div>

    <div class="row">
      <div class="col">

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        BUTTONS   -->
        <a class="btn btn-primary pi-draggable">Button</a>
        <a class="btn btn-secondary pi-draggable">Secondary</a>
        <a class="btn btn-success pi-draggable">Success</a>
        <a class="btn btn-danger pi-draggable">Danger</a>
        <a class="btn btn-warning pi-draggable">Warning</a>
        <a class="btn btn-info pi-draggable">Info</a>
        <a class="btn btn-light pi-draggable">Light</a>
        <a class="btn btn-dark pi-draggable">Dark</a>
        <a class="btn btn-link pi-draggable">Link</a>
        <br />
        <a class="btn btn-outline-primary pi-draggable">Outline</a>
        <a class="btn btn-outline-secondary pi-draggable">Secondary</a>
        <a class="btn btn-outline-success pi-draggable">Success</a>
        <a class="btn btn-outline-danger pi-draggable">Danger</a>
        <a class="btn btn-outline-warning pi-draggable">Warning</a>
        <a class="btn btn-outline-info pi-draggable">Info</a>
        <a class="btn btn-outline-light pi-draggable">Light</a>
        <a class="btn btn-outline-dark pi-draggable">Dark</a>
        <a class="btn btn-outline-link pi-draggable">Link</a>
        <br />

        <a class="btn btn-primary pi-draggable"
          >
          <i class="fa fa-star fa-fw fa-1x py-1 pi-draggable"></i
        ></a>

        <a class="btn btn-primary pi-draggable"
          ><i class="fa fa-download fa-fw pi-draggable"></i>&nbsp;Left icon
        </a>
        <a class="btn btn-outline-primary pi-draggable"
          >Right icon <i class="fa fa-shopping-cart fa-fw pi-draggable"></i>
        </a>
        <br />

        <div class="btn-group pi-draggable">
          <button
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
          >
            Dropdown
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>

        <div class="btn-group dropup pi-draggable">
          <button
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
          >
            Dropup
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>

        <br />
        <div class="btn-group dropright pi-draggable">
          <button
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
          >
            Dropright
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>
        <div class="btn-group dropleft pi-draggable">
          <button
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
          >
            Dropleft
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>

        <div class="btn-group dropstart pi-draggable">
          <button
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
          >
            Dropstart
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>
        <br />

        <div class="btn-group pi-draggable">
          <button type="button" class="btn btn-primary">Split Dropdown</button>
          <button
            type="button"
            class="btn btn-primary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown"
            aria-expanded="false"
          ></button>
          <div
            class="dropdown-menu"
            x-placement="bottom-start"
            style="position: absolute; transform: translate3d(128px, 38px, 0px); top: 0px; left: 0px; will-change: transform;"
          >
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>

        <br />
        <div class="btn-group pi-draggable">
          <button
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
          >
            With Form
          </button>
          <div class="dropdown-menu">
            <form>
              <div class="mb-3">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleDropdownFormEmail1"
                  placeholder="email@example.com"
                />
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleDropdownFormPassword1"
                  placeholder="Password"
                />
              </div>
              <div class="mb-3">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="dropdownCheck"
                />
                <label class="form-check-label" for="dropdownCheck">
                  Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">New around here? Sign up</a>
            <a class="dropdown-item">Forgot password?</a>
          </div>
        </div>
        <br />
        <button class="btn btn-primary pi-draggable" type="button">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
        <br />
        <div class="pi-draggable btn-group">
          <a class="btn btn-primary">Btn 1</a>
          <a class="btn btn-primary">Btn 2</a>
          <a class="btn btn-primary">Btn 3</a>
        </div>
        <br />
        <div class="pi-draggable btn-group">
          <a class="btn btn-outline-primary">Btn A</a>
          <a class="btn btn-primary">Btn B</a>
        </div>
        <br />
        <div
          class="btn-group btn-group-toggle pi-draggable"
          data-toggle="buttons"
        >
          <label class="btn btn-primary active">
            <input
              class="pi-draggable"
              type="radio"
              name="options"
              id="option1"
              autocomplete="off"
              checked=""
            />
            Radio On
          </label>
          <label class="btn btn-primary">
            <input
              type="radio"
              class="pi-draggable"
              name="options"
              id="option2"
              autocomplete="off"
            />
            Radio Off
          </label>
        </div>
        <br />
        <a
          class="btn text-white pi-draggable"
          style="background:#55acee"
          target="_blank"
          ><i class="pi-draggable fa fa-twitter fa-fw fa-1x py-1"></i
        ></a>
        <a
          class="btn text-white pi-draggable"
          style="background:#55acee"
          target="_blank"
          ><i class="pi-draggable fa fa-twitter fa-fw fa-1x py-1"></i> Tweet</a
        >
        <a
          class="btn btn-link pi-draggable"
          style="color:#55acee"
          target="_blank"
          ><i class="pi-draggable fa fa-twitter fa-fw fa-1x py-1"></i> Twitter</a
        >
        <br />
        <a
          class="btn text-white pi-draggable"
          style="background:#3b5998"
          target="_blank"
          ><i class="pi-draggable fa fa-facebook fa-fw fa-1x py-1"></i
        ></a>
        <a
          class="btn text-white pi-draggable"
          style="background:#3b5998"
          target="_blank"
          ><i class="pi-draggable fa fa-facebook-square fa-fw fa-1x py-1"></i> Share</a
        >
        <a
          class="btn btn-link pi-draggable"
          style="color:#3b5998"
          target="_blank"
          ><i class="pi-draggable fa fa-facebook-official fa-fw fa-1x py-1"></i> Facebook</a
        >
        <br />
        <a
          class="btn text-white pi-draggable"
          style="background:#dd4b39"
          target="_blank"
          ><i class="pi-draggable fa fa-google-plus fa-fw fa-1x py-1"></i
        ></a>
        <a
          class="btn text-white pi-draggable"
          style="background:#dd4b39"
          target="_blank"
          ><i class="pi-draggable fa fa-google-plus-circle fa-fw fa-1x py-1"></i> Share</a
        >
        <a
          class="btn btn-link pi-draggable"
          style="color:#dd4b39"
          target="_blank"
          ><i class="pi-draggable fa fa-google-plus-official fa-fw fa-1x py-1"></i> Google</a
        >
        <br />
        <a
          class="btn text-white pi-draggable"
          style="background:#0976b4"
          target="_blank"
          ><i class="pi-draggable fa fa-linkedin fa-fw fa-1x py-1"></i
        ></a>
        <a
          class="btn text-white pi-draggable"
          style="background:#0976b4"
          target="_blank"
          ><i class="pi-draggable fa fa-linkedin-square fa-fw fa-1x py-1"></i>&nbsp;Link</a
        >
        <a
          class="btn btn-link pi-draggable"
          style="color:#0976b4"
          target="_blank"
          ><i class="pi-draggable fa fa-linkedin-square fa-fw fa-1x py-1"></i> Linkedin</a
        >
        <br />
        <a
          class="btn text-white pi-draggable"
          style="background:#cc2127"
          target="_blank"
          ><i class="pi-draggable fa fa-pinterest-p fa-fw fa-1x py-1"></i
        ></a>
        <a
          class="btn text-white pi-draggable"
          style="background:#cc2127"
          target="_blank"
          ><i class="pi-draggable fa fa-pinterest-square fa-fw fa-1x py-1"></i> Pin it</a
        >
        <a
          class="btn btn-link pi-draggable"
          style="color:#cc2127"
          target="_blank"
          ><i class="pi-draggable fa fa-pinterest fa-fw fa-1x py-1"></i> Pinterest</a
        >
        <br />
        <a
          class="btn text-white pi-draggable"
          style="background:#e52d27"
          target="_blank"
          ><i class="pi-draggable fa fa-youtube-play fa-fw fa-1x py-1"></i
        ></a>
        <a
          class="btn text-white pi-draggable"
          style="background:#e52d27"
          target="_blank"
          ><i class="pi-draggable fa fa-youtube fa-fw fa-1x py-1"></i> View</a
        >
        <a
          class="btn btn-link pi-draggable"
          style="color:#e52d27"
          target="_blank"
          ><i class="pi-draggable fa fa-youtube-square fa-fw fa-1x py-1"></i> Youtube</a
        >
        <br />
        <a
          class="btn text-white pi-draggable"
          style="background:#ff4500"
          target="_blank"
          ><i class="pi-draggable fa fa-reddit-alien fa-fw fa-1x py-1"></i
        ></a>
        <a
          class="btn text-white pi-draggable"
          style="background:#ff4500"
          target="_blank"
          ><i class="pi-draggable fa fa-reddit fa-fw fa-1x py-1"></i> Post</a
        >
        <a
          class="btn btn-link pi-draggable"
          style="color:#ff4500"
          target="_blank"
          ><i class="pi-draggable fa fa-reddit fa-fw fa-1x py-1"></i> Reddit</a
        >

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        CARDS   -->

        <div class="card pi-draggable">
          <div class="card-body">
            <h5 class="card-title"><b>Title</b></h5>
            <h6 class="card-subtitle my-2 text-muted">Subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <div class="card pi-draggable">
          <div class="card-header">Quote</div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                posuere erat a ante.
              </p>
              <footer class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </footer>
            </blockquote>
          </div>
        </div>
        <div class="card pi-draggable text-center">
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">2 days ago</div>
        </div>
        <div class="card pi-draggable">
          <img
            class="card-img-top"
            src="https://static.pingendo.com/cover-moon.svg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card pi-draggable">
          <img
            class="card-img"
            src="https://static.pingendo.com/cover-bubble-light.svg"
            alt="Card image"
          />
          <div
            class="card-img-overlay d-flex justify-content-center align-items-center"
          >
            <h2 class="text-primary">Card title</h2>
          </div>
        </div>

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        FORMS   -->

        <form class="pi-draggable">
          <div class="mb-3">
            <label>Email address</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter email"
            />
            <small class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="mb-3">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />

        <form id="c_form-h" class="pi-draggable">
          <div class="row">
            <div class="col">
              <label for="inputmailh">E-mail</label>
            </div>

            <div class="col">
              <input
                type="email"
                class="form-control"
                id="inputmailh"
                placeholder="mail@example.com"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="inputpasswordh">Password</label>
            </div>
            <div class="col">
              <input
                type="password"
                class="form-control"
                id="inputpasswordh"
                placeholder="Password"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />

        <form class="form-floating pi-draggable">


          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInputValue"
              placeholder="name@example.com"
              value="test@example.com"
            />
            <label for="floatingInputValue">Input with value</label>
          </div>

          <div class="mb-3">
            <label for="exampleDataList" class="form-label"
              >Datalist example</label
            >
            <input
              class="form-control"
              list="datalistOptions"
              id="exampleDataList"
              placeholder="Type to search..."
            />
            <datalist id="datalistOptions">
              <option value="San Francisco"> </option>
              <option value="New York"> </option>
              <option value="Seattle"> </option>
              <option value="Los Angeles"> </option>
              <option value="Chicago"> </option>
            </datalist>
          </div>

         

          <div class="mb-3">
            <label for="formFileMultiple" class="form-label"
              >Multiple files input example</label
            >
            <input
              class="form-control"
              type="file"
              id="formFileMultiple"
              multiple
            />
          </div>

          <div class="mb-3 form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>

          <div class="mb-3 form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Default radio
            </label>
          </div>

          <div class="mb-3 form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Default switch checkbox input</label
            >
          </div>


        </form>

        <form class="pi-draggable">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your e-mail"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    Subscribe
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>


        <form class="pi-draggable">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="inlineFormInputGroup"
                  placeholder="Search"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        GRID   -->

        <div class="container pi-draggable">
          <div class="row pi-draggable">
            <div class="col-md-12"></div>
          </div>
        </div>
        <div class="row pi-draggable">
          <div class="col-md-6"></div>
          <div class="col-md-6"></div>
        </div>
        <div class="row pi-draggable">
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
        </div>
        <div class="row pi-draggable">
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>

        <div class="row pi-draggable">
          <div class="col-md-1"></div>
          <div class="col-md-2"></div>
          <div class="col-md-3"></div>
          <div class="col-md-4"></div>
          <div class="col-md-5"></div>
          <div class="col-md-6"></div>
          <div class="col-md-7"></div>
          <div class="col-md-8"></div>
          <div class="col-md-9"></div>
          <div class="col-md-10"></div>
          <div class="col-md-11"></div>
        </div>

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        JS ITEMS   -->

        <div class="alert alert-primary pi-draggable" role="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4 class="alert-heading">Well done!</h4>
          <p class="mb-0">
            Whenever you need to, be sure to use margin utilities to keep things
            nice and tidy.
          </p>
        </div>
        <div class="progress pi-draggable">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 50%"
          >
            50%
          </div>
        </div>

        <!-- <div class="spinner-border pi-draggable">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow pi-draggable">
          <span class="sr-only"></span>
        </div> -->
        <div
          class="toast pi-draggable"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <strong class="mr-auto">Bootstrap</strong>
            <small class="text-muted">2 seconds ago</small>
            <button
              type="button"
              class="ml-2 mb-1 close"
              data-dismiss="toast"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Heads up, toasts will stack automatically
          </div>
        </div>

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        LIST   -->

        <div class="list-group pi-draggable">
          <a href="#" class="list-group-item list-group-item-action active">
            Cras justo odio
          </a>
          <a href="#" class="list-group-item list-group-item-action"
            >Dapibus ac facilisis in</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Morbi leo risus</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Porta ac consectetur ac</a
          >
        </div>

        <ul class="list-group list-group-horizontal-md pi-draggable">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>

        <ol class="list-group list-group-numbered pi-draggable">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Cras justo odio
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Cras justo odio
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Cras justo odio
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
          </li>
        </ol>

        <div class="list-group pi-draggable">
          <a
            href="#"
            class="list-group-item list-group-item-action active"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small>And some small print.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
          </a>
        </div>

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        MEDIA   -->
        <div class="container pi-draggable">
          <div class="row">
            <div class="col-6 p-0 pr-1">
              <img
                class="img-fluid d-block pi-draggable"
                src="https://static.pingendo.com/img-placeholder-1.svg"
              />
            </div>
            <div class="col-6 p-0 pl-1">
              <img
                class="img-fluid d-block pi-draggable rounded-circle"
                src="https://static.pingendo.com/img-placeholder-3.svg"
              />
            </div>
          </div>
        </div>

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        NAVS   -->

        <ul class="nav pi-draggable">
          <li class="nav-item">
            <a href="#" class="nav-link active">Nav item</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link active">Nav item</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link active">Nav item</a>
          </li>
        </ul>
        <ul class="pagination pi-draggable">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item active"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>

        <ul class="pi-draggable breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Link</a></li>
          <li class="breadcrumb-item active">Link</li>
        </ul>

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        OTHERS   -->
        <div
          class="alert alert-primary pi-draggable alert-dismissible fade show"
          role="alert"
        >
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
          ></button>
          <h4 class="alert-heading">Well done!</h4>
          <p class="mb-0">
            Whenever you need to, be sure to use margin utilities to keep things
            nice and tidy.
          </p>
        </div>

        <div class="progress pi-draggable" draggable="true">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 50%"
          >
            50%
          </div>
        </div>

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        TABS   -->
        <div class="pi-wrapper pi-draggable" draggable="true">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a
                href=""
                class="active nav-link"
                data-toggle="pill"
                data-target="#tabone"
                >Tab 1</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href=""
                data-toggle="pill"
                data-target="#tabtwo"
                >Tab 2</a
              >
            </li>
            <li class="nav-item">
              <a
                href=""
                class="nav-link"
                data-toggle="pill"
                data-target="#tabthree"
                >Tab 3</a
              >
            </li>
          </ul>

          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
              <p class="">
                Tab pane one. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit.
              </p>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="">
                Tab pane two. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit.
              </p>
            </div>
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">
                Tab pane three. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.
              </p>
            </div>
          </div>
        </div>

        <div class="pi-wrapper pi-draggable" draggable="true">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                href=""
                class="active nav-link"
                data-toggle="tab"
                data-target="#tabone"
                >Tab 1</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href=""
                data-toggle="tab"
                data-target="#tabtwo"
                >Tab 2</a
              >
            </li>
            <li class="nav-item">
              <a
                href=""
                class="nav-link"
                data-toggle="tab"
                data-target="#tabthree"
                >Tab 3</a
              >
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
              <p class="">
                Tab pane one. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit.
              </p>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="">
                Tab pane two. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit.
              </p>
            </div>
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">
                Tab pane three. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.
              </p>
            </div>
          </div>
        </div>

        <div class="row pi-draggable" draggable="true">
          <div class="col-4">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a
                  href=""
                  class="active nav-link"
                  data-toggle="pill"
                  data-target="#tabone"
                  >Tab 1</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href=""
                  data-toggle="pill"
                  data-target="#tabtwo"
                  >Tab 2</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link"
                  data-toggle="pill"
                  data-target="#tabthree"
                  >Tab 3</a
                >
              </li>
            </ul>
          </div>
          <div class="col-8">
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="tabone"
                role="tabpanel"
              >
                <p class="">
                  Tab pane one. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit.
                </p>
              </div>
              <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                <p class="">
                  Tab pane two. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit.
                </p>
              </div>
              <div class="tab-pane fade" id="tabthree" role="tabpanel">
                <p class="">
                  Tab pane three. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-----  ********** 
                ********** 
                ********** 
                ********** 
                ********** 
        TEXT   -->

        <p class="lead pi-draggable">
          Lead paragraph. A wonderful serenity has taken possession of my entire
          soul.
        </p>
        <p class="pi-draggable">
          Paragraph. Then, my friend, when darkness overspreads my eyes, and
          heaven and earth seem to dwell in my soul and absorb its power, like
          the form of a beloved mistress, then I often think with longing.
        </p>
        <h6 class="pi-draggable">Heading 6</h6>
        <h5 class="pi-draggable">Heading 5</h5>
        <h4 class="pi-draggable">
          Heading 4 <span class="badge badge-pill badge-warning">!</span>
        </h4>
        <h3 class="pi-draggable">
          Heading 3 <span class="badge badge-light"> New</span>
        </h3>
        <h2 class="pi-draggable">
          Heading 2 <small class="text-muted">subtitle</small>
        </h2>
        <h1 class="pi-draggable">Heading 1</h1>
        <h1 class="display-4 pi-draggable">Display 4</h1>
        <h1 class="display-3 pi-draggable">Display 3</h1>
        <h1 class="display-2 pi-draggable">Display 2</h1>
        <h1 class="display-1 pi-draggable">Display 1</h1>

        <h1 class="display-4 pi-draggable">
          Display 4 <span class="badge bg-secondary">New</span>
        </h1>
        <h1 class="display-3 pi-draggable">
          Display 3 <span class="badge bg-secondary">New</span>
        </h1>
        <h1 class="display-2 pi-draggable">
          Display 2 <span class="badge bg-secondary">New</span>
        </h1>
        <h1 class="display-1 pi-draggable">
          Display 1 <span class="badge bg-secondary">New</span>
        </h1>

        <p class="pi-draggable text-monospace">
          Monospace. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        <figure class="pi-draggable">
          <blockquote class="blockquote">
            <p>A well-known quote, contained in a blockquote element.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure>

        <ul class="list-inline pi-draggable">
          <li class="list-inline-item">One</li>
          <li class="list-inline-item">Two</li>
          <li class="list-inline-item">Three</li>
        </ul>
        <ul class="pi-draggable">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
        </ul>
        <ol class="pi-draggable">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
        </ol>
        <ol class="pi-draggable" type="a">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
        </ol>
        <ol class="pi-draggable" type="A">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
        </ol>
        <div class="table-responsive pi-draggable">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
