<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css"
    />


  </head>

  <body>
    <br />
    <form class="pi-draggable">
      <div class="mb-3">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" />
        <small class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />

    <form id="c_form-h" class="pi-draggable">
      <div class="row">
        <div class="col">
          <label for="inputmailh">E-mail</label>
        </div>

        <div class="col">
          <input
            type="email"
            class="form-control"
            id="inputmailh"
            placeholder="mail@example.com"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="inputpasswordh">Password</label>
        </div>
        <div class="col">
          <input
            type="password"
            class="form-control"
            id="inputpasswordh"
            placeholder="Password"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />

    <form class="form-floating">
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInputValue"
          placeholder="name@example.com"
          value="test@example.com"
        />
        <label for="floatingInputValue">Input with value</label>
      </div>

      <div class="mb-3">
        <label for="exampleDataList" class="form-label">Datalist example</label>
        <input
          class="form-control"
          list="datalistOptions"
          id="exampleDataList"
          placeholder="Type to search..."
        />
        <datalist id="datalistOptions">
          <option value="San Francisco"> </option>
          <option value="New York"> </option>
          <option value="Seattle"> </option>
          <option value="Los Angeles"> </option>
          <option value="Chicago"> </option>
        </datalist>
      </div>

      <!-- <div class="mb-3">
        <label for="exampleColorInput" class="form-label">Color picker</label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">
      </div>  -->

      <div class="mb-3">
        <label for="formFileMultiple" class="form-label"
          >Multiple files input example</label
        >
        <input
          class="form-control"
          type="file"
          id="formFileMultiple"
          multiple
        />
      </div>

      <div class="mb-3 form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </div>

      <div class="mb-3 form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          Default radio
        </label>
      </div>

      <div class="mb-3 form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Default switch checkbox input</label
        >
      </div>
    </form>
    <br />

    <form class="pi-draggable">
      <div class="row">
        <div class="col">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your e-mail" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <br />

    <form class="pi-draggable">
      <div class="row">
        <div class="col">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              placeholder="Search"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!--<form class="pi-draggable" id="c_form-complex" style="max-width:200%; min-width:160%; transform-origin: left; transform: scale(0.575);">
    <div class="form-row">
      <div class="form-group col-md-6"> <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email"> </div>
      <div class="form-group col-md-6"> <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password"> </div>
    </div>
    <div class="form-group"> <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> </div>
    <div class="form-group"> <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"> </div>
    <div class="form-row">
      <div class="form-group col-md-6"> <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity"> </div>
      <div class="form-group col-md-4"> <label for="inputState">State</label> <select id="inputState" class="form-control">
          <option selected="" value="Choose...">Choose...</option>
          <option value="...">...</option>
        </select> </div>
      <div class="form-group col-md-2"> <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip"> </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" value="on"> <label class="form-check-label" for="gridCheck"> Check me out </label> </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  <form class="form-inline pi-draggable">
    <div class="input-group"> <input type="email" class="form-control" placeholder="Your email">
      <div class="input-group-append"> <button class="btn btn-primary" type="button">Subscribe</button> </div>
    </div>
  </form>-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script src="sections.js"></script>
  </body>
</html>
