<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="Untitled.css">
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span>Brand</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="fullcarousel-example" data-interval="false" class="carousel slide"
                        data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png">
                                    <div class="carousel-caption">
                                        <h2>Title</h2>
                                        <p>Description</p>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
                            <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h3>Unify is a clean and fully responsive incredible Template.</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi vehicula sem ut volutpat. Ut non libero magna fusce condimentum
                            eleifend enim a feugiat corrupti quos.&nbsp;</p>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary"><i class="fa fa-fw fa-cloud-download"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#">
                                  
                                  <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Fully Responsive</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                        tempus viverra turpis.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#">
                                  
                                  <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">HTML5 + CSS3</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                        tempus viverra turpis.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#">
                                  
                                  <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Launch Ready</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                        tempus viverra turpis.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h3>Recent Works</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                            class="img-responsive">
                            <div class="caption">
                                <h4>Project One</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                                    elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                                    vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                            class="img-responsive">
                            <div class="caption">
                                <h4>Project Two</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                                    elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                                    vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                            class="img-responsive">
                            <div class="caption">
                                <h4>Project Three</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                                    elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                                    vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                            class="img-responsive">
                            <div class="caption">
                                <h4>Project Four</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                                    elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                                    vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-header">
                            <h3>Welcome To Unify</h3>
                        </div>
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="200" width="200"></a>
                                <div class="media-body">
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                        tempus viverra turpis.</p>
                                    <ul class="fa-ul list-unstyled">
                                        <li>
                                            <i class="fa-li fa fa-check"></i>One</li>
                                        <li>
                                            <i class="fa-li fa fa-check"></i>Two</li>
                                        <li>
                                            <i class="fa-li fa fa-check"></i>Three</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="page-header">
                            <h3>Latest Shots</h3>
                        </div>
                        <div id="carousel-example" data-interval="false" class="carousel slide"
                        data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png">
                                    <div class="carousel-caption">
                                        <h2>Title</h2>
                                        <p>Description</p>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
                            <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h3>Our clients</h3>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-3 text-center">
                        <a><i class="fa fa-5x fa-fw fa-instagram"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a><i class="fa fa-5x fa-fw fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a><i class="fa fa-5x fa-fw fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-3 text-center">
                        <a><i class="fa fa-5x fa-fw fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-info">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h3>Unify</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.&nbsp;
                            <br>
                            <br>Ut enim ad minim veniam, quis nostrud
                            <br>Ut enim ad minim veniam, quis nostrud
                            <br>&nbsp;Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="page-header">
                            <h4>Useful Links</h4>
                        </div>
                        <ul class="fa-ul list-unstyled">
                            <li>One
                                <i class="fa-li fa fa-check"></i>
                            </li>
                            <li>
                                <i class="fa-li fa fa-check"></i>Two</li>
                            <li>
                                <i class="fa-li fa fa-check"></i>Three</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="page-header">
                            <h4>Latest Posts</h4>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="text-success">Incredible content</a>
                                <br>
                                <small class="text-success">May 8, 2014</small>
                            </li>
                            <li>
                                <a href="#" class="text-success">Incredible content</a>
                                <br>
                                <small class="text-success">May 6, 2014</small>
                            </li>
                            <li>
                                <a href="#" class="text-success">Incredible content</a>
                                <br>
                                <small class="text-success">May 4, 2014</small>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="page-header">
                            <h4>Latest Posts</h4>
                        </div>
                        <p>25, Lorem Lis Street, Orange
                            <br>California,US
                            <br>Phone: 800 123 3456
                            <br>Fax: 800 123 3456
                            <br>Email: info@anybiz.com</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>2015 © All Rights Reserved.
                            <a>Privacy Policy</a>|
                            <a>Terms of Service</a>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="#"><i class="fa fa-2x fa-fw fa-instagram text-muted"></i></a>
                                <a href="#"><i class="fa fa-2x fa-fw fa-twitter text-muted"></i></a>
                                <a href="#"><i class="fa fa-2x fa-facebook fa-fw text-muted"></i></a>
                                <a href="#"><i class="fa fa-2x fa-fw fa-github text-muted"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>